<div class="edit-container" *ngIf="jobForm">
    <h2 *ngIf="mode == 'edit'">Stelle pflegen</h2>
    <h2 *ngIf= "mode == 'add'">Stelle hinzufügen</h2>

    <form [formGroup]="jobForm">
     <div class="form-group">
      <label for="jobTitle">Jobtitel:</label>
      <input type="text" id="jobTitle" class="form-control" formControlName='jobTitle'>
    </div>

    <div class="form-group">
      <label for="jobDescription">Jobbeschreibung:</label>
      <textarea id="jobDescription" class="form-control" formControlName="jobDescription"></textarea>
    </div>

    <div class="form-group">
      <label for="jobRequirements">Jobanforderungen:</label>
      <textarea id="jobRequirements" class="form-control" formControlName="jobRequirements"></textarea>
    </div>

    <div class="form-group">
      <label for="benefits">benefits:</label>
      <textarea id="benefits" class="form-control" formControlName="benefits"></textarea>
    </div>

    <div class="form-group">
      <label for="location">Standort:</label>
      <input type="text" id="location" class="form-control" formControlName="location">
    </div>

    <div class="form-group">
      <label for="salaryRangeMax">Gehaltsspanne (Max.):</label>
      <input type="number" id="salaryRangeMax" class="form-control" formControlName="salaryRangeMax">
    </div>
    
    <div class="form-group">
      <label for="salaryRangeMin">Gehaltsspanne (Min.):</label>
      <input type="number" id="salaryRangeMin" class="form-control" formControlName="salaryRangeMin">
    </div>


    <div class="form-group">
        <label for="vacancyActive">Aktive Anzeige:</label>
        <input type="checkbox" id="vacancyActive" class="form-control" formControlName="vacancyActive">
      </div>
  
      <button type="button" (click)="onPressAdd()" *ngIf="mode == 'add'">Stelle hinzufügen</button>  
      <button type="button" (click)="onPressSave()" *ngIf="mode == 'edit'">Änderungen speichern</button>
      <button type="button" (click)="onPressDelete()" *ngIf="mode == 'edit'">Stelle löschen</button>
      <span *ngIf="successfulAdd">Stelle erfolgreich hinzugefügt!</span>
      <span *ngIf="successfulEdit">Stelle erfolgreich bearbeitet!</span>
      <span *ngIf="successfulDeletion">Stelle erfolgreich gelöscht!</span>
    </form>
  
  </div>