body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}



section {
    margin-top: 4rem;
    margin-bottom: 40%;

    flex: 1;
    /* Fülle den verfügbaren Raum aus */
}