<div class="filter-bar">
    <input
        type="text"
        class="search-input"
        placeholder="Jobtitel suchen..."
        [(ngModel)]="filter.title"
        (input)="applyFilters()"
    >
    <span>
        <button
            class="btn btn-sort"
            (click)="sortJobsByTitle()"
        >
            Sort nach Title
        </button>
    </span>

    <input
        type="text"
        class="search-input"
        placeholder="Requirements suchen..."
        [(ngModel)]="filter.requirement"
        (input)="applyFilters()"
    >
    <span>
        <button
            class="btn btn-sort"
            (click)="sortJobsByRequirement()"
        >
            Sort nach req.
        </button>
    </span>

    <select
        class="filter"
        [(ngModel)]="filter.location"
        (change)="applyFilters()"
    >
        <option value="">Stadt wählen</option>
        <option
            *ngFor="let location of locations"
            [value]='location'
        >{{ location }}</option>
    </select>
    <span>
        <button
            class="btn btn-sort"
            (click)="sortJobsByLocation()"
        >
            Sort nach Stadt
        </button>
    </span>

    <select
        class="filter"
        [(ngModel)]="filter.salaryRange"
        (change)="applyFilters()"
    >
        <option value="">Gehalt wählen</option>
        <option value="0-50000">
            Unter 50.000
        </option>
        <option value="50000-100000">
            50.000 bis 100.000
        </option>
        <option value="100000-150000">
            100.000 bis 150.000
        </option>
    </select>
    <span>
        <button
            class="btn btn-sort"
            (click)="sortJobsBySalary()"
        >
            Sort nach Gehalt
        </button>
    </span>

    <button
        class="btn"
        (click)="saveFilter(filter)"
    >
        Filter Speichern / Aktualisieren
    </button>
    <button
        class="btn-reset"
        (click)="resetFilters()"
    >
        Filter zurücksetzen
    </button>
</div>
<div
    class="savedFilters"
    *ngFor="let savedFilter of savedFilters"
>
    <div
        class="savedFilter"
        [ngClass]="{'activeFilter': savedFilter.filterSelected}"
    >
        <div class="filterItem">
            <span class="filterLabel">Titel:</span>
            <span class="filterValue">{{ savedFilter.title }}</span>
        </div>
        <div class="filterItem">
            <span class="filterLabel">Anforderung:</span>
            <span class="filterValue">{{ savedFilter.requirement }}</span>
        </div>
        <div class="filterItem">
            <span class="filterLabel">Ort:</span>
            <span class="filterValue">{{ savedFilter.location }}</span>
        </div>
        <div class="filterItem">
            <span class="filterLabel">Gehaltsspanne:</span>
            <span class="filterValue">{{ savedFilter.salaryRange }}</span>
        </div>
        <button
            class="btn btn-filter"
            (click)="useSavedFilter(savedFilter)"
        >
            Anwenden
        </button>
        <button
            class="btn btn-delete"
            (click)="deleteSavedFilter(savedFilter)"
        >
            Löschen
        </button>
    </div>

</div>