body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: fixed;
  margin-bottom: 20px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 1rem;
  display: flex;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

section {
  margin-top: 4rem;
  margin-bottom: 40%;

  flex: 1;
  /* Fülle den verfügbaren Raum aus */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 900px;

}

.job-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 30px
}

.job-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 12px;
  border-radius: 5px;
  background: #f9f9f9;
  transition: box-shadow .3s;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;


  h2 {
    margin: 0;
    color: #333;
    font-size: 1.5em;
  }


  .job-salary {
    background: #4caf50;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
  }
}

.location {
  color: #666;
}

.apply-button {
  display: inline-block;
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;

  &:hover {
    background: #0056b3;
  }
}