<div class="job-list">
  <h1>Stellenportal</h1>

  <h2>User Data If Usage</h2>
  <span *ngIf="user"> {{user.recruiterRole}} -- </span>
  <span *ngIf="user.recruiterRole">User Recruiter</span>
  <span *ngIf="!user.recruiterRole">User Bewerber</span>
  <app-filter
    [jobList]="jobList"
    (jobListFiltered)="onJobListFiltered($event)"
    *ngIf="isJobListLoaded"
  ></app-filter>

  <div
    class="job-card"
    *ngFor="let job of jobList"
    (click)="openJob(job)"
  >
    <div class="job-header">
      <h2>{{ job.jobTitle }}</h2>
      <span class="job-salary">{{ job.salaryRangeMin | currency:'EUR':'symbol':'1.0-0' }} - {{ job.salaryRangeMax |
        currency:'EUR':'symbol':'1.0-0' }}</span>
    </div>
    <p class="location">{{ job.location }}</p>
    <!-- Hier könnten Sie z.B. Buttons oder Links für "Mehr erfahren" oder "Bewerben" hinzufügen -->
    <button
      class="apply-button"
      (click)="apply()"
      *ngIf="!user.recruiterRole"
    >Bewerben</button>
    <button
      class="apply-button"
      *ngIf="user.recruiterRole"
    >
      Stelle Pflegen
    </button>
  </div>
</div>