
  /*Stellenanzeige*/
  .job-details-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    position:relative;
    top: 100px
  }
  
  .job-details-container h2 {
    margin-top: 0;
  }
  
  .job-details-container p {
    margin-top: 10px;
    line-height: 2;
  }
  
  .job-details-container strong {
    font-weight: bold;
  }

  .apply-button {
    display: inline-block;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
  
    &:hover {
      background: #0056b3;
    }
  }