<div class="job-list">
  <span><h1>Bewerbungs-Management</h1></span>

  <h2>Status: Bewerbung eingegangen</h2>
  <div *ngFor="let appl of applicationList">
    <div class="job-card" *ngIf="appl.status == 'Bewerbung eingegangen'">
      <div class="job-header">
        <p class="application-text">{{ appl.applicationTitle }}</p>
      </div>

      <button class="apply-button3" (click)="download(appl._id)">
        Dokument herunterladen
      </button>
      <button
        class="apply-button"
        (click)="statusupdate('Bewerbung akzeptiert', appl._id)"
      >
        Bewerbung annehmen
      </button>
      <button
        class="apply-button2"
        (click)="statusupdate('Bewerbung abgelehnt', appl._id)"
      >
        Bewerbung ablehnen
      </button>
    </div>
  </div>
  <br />
  <h2>Status: Bewerbung in Arbeit</h2>
  <div *ngFor="let appl of applicationList">
    <div class="job-card" *ngIf="appl.status == 'Bewerbung akzeptiert'">
      <div class="job-header">
        <p class="application-text">{{ appl.applicationTitle }}</p>
      </div>
      <!-- Dropdown-Menü -->
      <select [(ngModel)]="appl.selectedOption">
        <option value="Email an Bewerber senden">
          Email an Bewerber senden
        </option>
        <option value="Zum Bewerbungsgespräch einladen">
          Zum Bewerbungsgespräch einladen
        </option>
        <option value="Telefonisch beim Bewerber melden">
          Telefonisch beim Bewerber melden
        </option>
      </select>
      <button
        class="apply-button"
        (click)="messageupdate(appl.selectedOption, appl._id)"
      >
        Mitteilung senden
      </button>

      <button
        class="apply-button2"
        (click)="statusupdate('Bewerbung abgelehnt', appl._id)"
      >
        Bewerbung ablehnen
      </button>
      <br />
      <p class="application-text" *ngIf="appl.message !== ''">
        Aktuelle Maßnahme: {{ appl.message }}
      </p>
    </div>
  </div>
  <br />
  <h2>Status: Bewerbung abgelehnt</h2>
  <div *ngFor="let appl of applicationList">
    <div class="job-card" *ngIf="appl.status == 'Bewerbung abgelehnt'">
      <div class="job-header">
        <p class="application-text">{{ appl.applicationTitle }}</p>
      </div>

      <!-- Dropdown-Menü -->
      <select [(ngModel)]="appl.selectedOption">
        <option value="Email an Bewerber senden">
          Email an Bewerber senden
        </option>
        <option value="Zum Bewerbungsgespräch einladen">
          Zum Bewerbungsgespräch einladen
        </option>
        <option value="Telefonisch beim Bewerber melden">
          Telefonisch beim Bewerber melden
        </option>
      </select>
      <button
        class="apply-button"
        (click)="messageupdate(appl.selectedOption, appl._id)"
      >
        Mitteilung senden
      </button>

      <button class="apply-button2" (click)="appldelete(appl._id)">
        Bewerbung löschen
      </button>
    </div>
  </div>
</div>
