  

  .toggle-container {
    display: inline-block;
    position: relative;
  }
  
  .toggle-label {
    display: block;
    cursor: pointer;
    width: 150px; 
    height: 40px; 
    background-color: #ccc;
    border-radius: 20px;
    transition: background-color 0.2s;
  }
  
  .toggle-label:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background-color: #fff;
    border-radius: 18px;
    transition: all 0.3s;
  }
  
  .toggle-slider {
    color: white; /* Weißer Text im Slider */
    position: absolute;
    white-space: nowrap; /* Verhindert das Überlaufen des Textes */
    overflow: hidden; /* Schneidet überlaufenden Text ab */
    background-color: #2196F3;
    border-radius: 20px;
    transition: 0.3s;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 40px; /* Same as height of the toggle-label */
  }
  
  #toggle-button {
    display: none; /* Hide the default checkbox */
  }
  
  #toggle-button:checked + .toggle-label .toggle-slider {
    transform: translateX(100%);
  }
  
  #toggle-button:checked + .toggle-label {
    background-color: #ccc; /* Color when toggled */
  }
  
  /* Registrierungsformular */
.form-wrapper {
  max-width: 500px;
  margin: 60px auto 2rem; /* 60px oben, zentriert horizontal, 2rem unten */
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  border-radius: 4px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-control {
  display: flex;
  flex-direction: column; /* Anordnung der Labels und Inputs in Spalten */
  margin-bottom: 20px;
}

.form-control label {
  margin-bottom: 5px; /* Einen kleinen Abstand zwischen Label und zugehörigem Input-Feld */
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control input[type="tel"],
.form-control input[type="number"],
.form-control input[type="password"],
.form-control input[type="date"] {
  width: 96%; /* Inputs nehmen die verfügbare Breite ein */
  padding: 10px; /* Etwas Polsterung für besseres Aussehen */
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 5px;
}

#buttonGroup {
  display: flex;
  flex-direction: column;
  margin-top: 20px; 
  margin-bottom: 20px;/* Etwas Abstand zum Rest des Formulars */
}

button {
  /* Positionieren auf Basis von Flexbox, ohne absolute Positionierung */
  margin-bottom: 10px; /* Abstand zwischen den Buttons */
  padding: 10px 20px; /* Polsterung für den Button */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Ausrichtung der Buttons am Anfang des Containers */
  gap: 10px; /* Abstand zwischen den Elementen in buttonGroup */
}

#successtext{
  margin-bottom: 20px;
}